<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livre Or</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="/">Acceuil</a>
    </nav>

    <div class="container">
        <% if (locals.flash && locals.flash.error) {%>
        <div class="alert alert-danger"><%= flash.error %></div>
        <% } %>